<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/sta/css/bootstrap.min.css">
    <script src="/sta/js/jquery-3.2.1.js"></script>
    <script src="/sta/js/djangoLearn.js"></script>
    <script src="/sta/js/bootstrap.min.js"></script>
</head>
<body>
<div>
        <p>
            用户名:<input id="username" type="text" placeholder="您的用户名..." title="用户名">
        </p>
        <p>
            密&nbsp;&nbsp;&nbsp;码:<input id="pwd" type="password" placeholder="您的密码..." title="密码">
        </p>
        <p>
            <button type="button" id="zc">注册</button>
            <input type="reset" value="重置"/>
        </p>
    </div>
</body>
</html>